doctype
html
  head
    title= title
    link(href='http://f.fontdeck.com/s/css/J35lFD8z8VtCDVqKGBL5nAbFRpQ/hud.clockte.ch/39767.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href=versionPath('/stylesheets/index.css'))

  body
    block content
