.utilisation-container
  width 100%
  height 100%
  background-color black
  margin auto
  position relative
  overflow hidden
  text-align center

.utilisation
  width 2000px
  height 2000px
  background-color #000
  position absolute
  top 50%
  left 50%
  transform-origin 50% 0
  margin-left -1000px
  transition all 1s ease

.utilisation-change
  position relative

h1
  margin 92px 0 0 0
  margin 24vmin 0 0 0
  font-size 115px
  font-size 30vmin
  font-weight normal
  line-height 1em

h2
  margin 0
  font-size 29px
  font-size 7.5vmin
  font-weight normal

p.last-month
  margin-top 70px
  margin-top 17.5vmin
  font-size 29px
  font-size 7.5vmin

p.last-month .value
  font-size 46px
  font-size 12vmin
